<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='./styles.css'>
    <title>home</title>
</head>
<body>
    <nav class="navs">
        <a href="/"> Home</a>

        <%if(locals.isLoggedIn){%>
            <a href="/logout">Logout</a>
            <a href="/account">
                <%=locals.user.fullname%>
            </a>
            <%}else{%>
                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>
                <%}%>
                
    </nav>
    <h1>Home</h1>
    <main>
        <section class="products">
            <% if(locals.message){%>
                <h2><%= locals.message %></h2>
            <% }else{ %> 

                <% products.forEach (product => { %>
                    <div class="product">
                   
                    <img src="katulu.jpg" alt="ner ner">
                    <h3><%= product.name %></h3>
                    <p>KSH. <%= product.price %></p>
                    <button>add to cart</button>
                    </div>
            
                <% }) %>
            <% } %>
        </section>
    </main>

    <footer>

    </footer>

    
</body>
</html>