<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='./styles.css'>
    <title>login</title>
</head>
<body>
    <nav class="navs">
        <a href="/"> Home</a>
        <a href="/login">Login</a>
        <a href="/signup">SignUp</a>
    </nav>
    <h1 class="hlogin">Login</h1>
   

    <form action="/login" method="post" >
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <button class="signBtn">Sign up</button>
    </form>
</body>
</html>