<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='./styles.css'>
    <title>signup</title>
</head>
<body>
    <nav class="navs">
        <a href="/"> Home</a>
        <a href="/login">Login</a>
        <a href="/signup">SignUp</a>
    </nav>
    <h1 class="hlogin">Signup</h1>

    <form action="/signup" method="post" class="signfomu">
        <label for="id">Identification</label>
            <input type="text" id="id" name="id">
        <label for="fname">Full name</label>
            <input type="text" id="fname" name="fname">
        <label for="email">Email</label>
            <input type="email" id="mail" name="mail">
        <label for="pnumber">Phone number</label>
            <input type="text" id="pnumber" name="pnumber">
        <label for="location">Location</label>
            <input type="text" id="location" name="location">
        <label for="password">Password</label>
            <input type="password" id="password" name="password">

        <button class="signBtn">Sign up</button>
    </form>

</body>
</html>